@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap");

:root {
    --colorTextPrimary: black;
    --colorTextSecondary: floralwhite;
    --colorPrimary: #20408A;

    --fontMain: 'Raleway', Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
}

body {
    font-family: var(--fontMain);
}

header {
    padding: 0.5rem 0 0.5rem 2rem;
    color: var(--colorTextSecondary);
    background-color: var(--colorPrimary);
}

main {
    padding: 0.5rem 1rem;
    line-height: 1.4rem;
}

form input[type=submit] {
    padding: 0.25rem 1rem;
    border: solid thin var(--colorTextPrimary);
    border-radius: 0.5rem;
    font-size: 1rem;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.25rem 0 0.25rem 0;
    color: var(--colorTextSecondary);
    background-color: var(--colorPrimary);
    text-align: center;
}